aiohttp
appdirs
APScheduler
async-timeout
attrs
black
certifi
chardet
click
discord.py
emoji
idna
multidict
mypy-extensions
pathspec
python-decouple
pytz
regex
requests
sentry-sdk
six
toml
typed-ast
typing-extensions
tzlocal
urllib3
websockets
yarl
